body {
      font-family: 'Inter', sans-serif;
      color: antiquewhite;
      margin: 0;
      padding: 40px 16px;
        background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #2b0707 100%);
        min-height: 100vh;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
       padding: 24px; 
       border-radius: 16px;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 8px;
        font-weight: 700;
    }

    p {
        color: #b1b0b0;
    }

    button {
       cursor: pointer;
       border: none;
        background: none;
        font-family: 'Inter', sans-serif;
    }

     .back-btn {
     display: block;
  margin: 0 0 1rem -24px;
   color: rgb(180, 175, 175);
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 16px;
  text-decoration: none;

    }

    .back-btn:hover {
        color: rgb(102, 90, 90);
    }

    .back-btn:hover {
      text-decoration: none;
    }

    .add-btn {
      width: 100%;
      background-color: #dc2626;
      color: #fff;
      border-radius: 12px;
      padding: 16px 50px;
      margin-bottom: 24px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      transition: background 0.3s;
    }

    .add-btn:hover {
      background-color: #b91c1c;
    }